* {
    margin: 0;
    padding: 0;
}

:root {
    /* font-family: 'Inter', sans-serif;
    font-family:  */
    --Merriweather: 'Merriweather Sans', sans-serif;
    --Inter: 'Inter', sans-serif;
}

body {
    background: #FFF;
    width: 100%;

}


.header-container {
    width: 81%;
    height: 505px;
    background-image: url(resources/Banner\ Image.png);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px auto;
    font-family: var(--Merriweather);
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-text {
    width: 600px;
}

.header-text>h3 {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
}

.header-text>h1 {
    color: #FFF;
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* Offer-section start */
#Offer-section {
    margin: 100px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Offer-section>h1 {
    color: #F00;
    text-align: center;
    font-family: var(--Inter);
    font-size: 71px;
    font-weight: 700;
}

#Offer-section>h4 {
    color: #F00;
    text-align: center;
    font-family: var(--Inter);
    font-size: 19px;
    font-weight: 500;
    margin-top: 30px;
}

#Offer-section>h3 {
    color: #070211;
    text-align: center;
    font-family: var(--Inter);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#Offer-section>img {
    width: 600px;
    margin-top: 40px;
}